body {
  // background-image: url("../images/jakub.jpg");
  // background-color: black;


  font-family: 'Lato', sans-serif;

}



.index {
  color: white;
  background: url("../images/logo_back.jpg") no-repeat center center;
  background-size: 750px 580px;
  background-color: black;
  margin-right: 0;



  height: 100vh;
  width: 100vw;
  margin: 0 auto;




}
.about, .skills {
  h2 {
    position: absolute;
  }
  color: black;
  background-color: white;
  background-size: 750px 580px;
  margin-right: 0;
  background: url("../images/logo_back_2.png") no-repeat center center;
  //   background-size: 750px 580px;
  // background-position: 270px;
  //   height: 100vh;
  //   width: 100vw;
  //   margin: 0 auto;
  background-size: 750px 580px;

  margin-right: 0;



  height: 100vh;
  width: 100vw;
  margin: 0 auto;

}

.projects,  .contact {


  h2 {
    color: white;
    position: absolute;
  }




  background: url("../images/logo_back_3.png") no-repeat center center;

  background-size: 750px 580px;


  height: 100vh;
  width: 100vw;
  // margin: 0 auto;
  background-color: black;


}

nav {
  background-color: black;

  height: 30px;
  // padding-top: 5px;
  padding-right: 30px;
  padding-left: 30px;
  // top: 0;
  z-index: 100;

  left:0;
  right:0;

  position: fixed;
  // position: sticky;
  width: 100vw;
  margin-left:auto;
  margin-right:auto;
  display: block;
  padding-right: 100px;
  padding-left: 100px;



}

.sub-title-black {
  color: black;
}
nav a {
  position: relative;
  display: inline-block;
  // margin: 15px 25px;

  outline: none;
  color: #fff;
  text-decoration: none !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 10px;
  // font-size: 1.35em;
}

nav a:hover,
nav a:focus {
  outline: none;
  color: white;
}

.cl-effect-6 a {
  margin: 0 10px;
  padding: 10px 20px;
}

.cl-effect-6 a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  transition: top 0.3s;
}

.cl-effect-6 a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.cl-effect-6 a:hover::before {
  top: 70%;
  opacity: 1;
}

.cl-effect-6 a:hover::after {
  height: 70%;
}
.imgs-pro-top {
  margin-top: 6vh;

}







.parallax {
  /* The image used */

  background-color: black;

  /* Set a specific height */
  height: 30vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.p-1 {
  background-image: url("http://i.imgur.com/lAvvIcJ.jpg");

  width: 100vw;
  margin: 0 auto;
}
.p-2 {
  background-image: url("http://i.imgur.com/wACEAjS.png");
  width: 100vw;
  margin: 0 auto;
}
.p-3 {

  background-image: url("http://i.imgur.com/PNHq5pn.jpg");
  width: 100vw;
  margin: 0 auto;

}


// .circle-logo {
//
//
//   position: absolute;
//   height: 560px;
//   width: 560px;
//   border: 1px solid red;
//   border-radius: 50%;
//   top: 11vh;
//
//
//   position: relative;
//   overflow: hidden;
//
// }


// img {
//   display: inline;
//   margin: 0 auto;
//
//   height: 850px;
//
//
// }

// .text-left-curve {
//   color: gray;
//   // content: "";
//   // width: 1000px;
//   width: 20vw;
// margin-top: 10vh;
// float: left;
// height: 80vh;
//
// }
// .text-right-curve {
//   color: gray;
//   // content: "";
//   // width: 1000px;
//   margin-top: 10vh;
// width: 20vw;
// float: right;
// display: block;
// height: 80vh;
//
// }
.text-about {
  p{

    margin-top: 10vh;
    width:400px;
    margin-right:15px;
    text-align:justify;
    overflow:hidden;
    float:left;
  }
  p:before{
    content:'';
    width: 200px;
    height: 800px;
  }
  #right {
    margin-left: 250px;
  }
  #left:before{
    float:right;
    shape-outside: circle(40% at 100% 35%);
  }
  #right:before{
    float:left;
    shape-outside: circle(40% at 0 35%);
  }
}

.contact-links {
  margin-left: 32vw;
  margin-top: 35vh;
  height: 30vh;


  h2 {
    color: black;
    text-align: center;
  }

  img {
    margin-top: 10vh;
    margin-left: 30px;
    position: relative;

    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    padding-left: 5px;
    padding-right: 5px;


  }

  .mail {
    margin-bottom: 0;
  }

  img:hover {
    box-shadow:         2px 2px 2px 2px rgba(0, 0, 0, 100);
    border-radius: 10px;


  }
}






.projects {
  img {
    height: 300px;
    opacity: 0.5;
  }

  img:hover {
    opacity: 1;
  }
}


.projects-images {
  margin-top: 6vh;
}
.img-pro-1 {

  img {

    margin-bottom: 3vh;
  }
}




.pro-text {
  color: black;


  position: absolute;
  width: 400px;
  margin-left: 30vw;
  margin-top: 20vh;
  text-align: center;


}
// .img-pro-1 {
//   img:hover {
//     // -webkit-border-radius: 10px;
//     //  -moz-border-radius: 10px;
//     //  border-radius: 10px;
//     //  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 200, 100);
//     // -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 200, 100);
//     box-shadow: -5px -5px 0px 0px rgba(0, 0, 200, 100);
//   }
// }
// .img-pro-2 {
//   img:hover {
//     // -webkit-border-radius: 10px;
//     //  -moz-border-radius: 10px;
//     //  border-radius: 10px;
//     //  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 200, 100);
//     // -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 200, 100);
//     box-shadow:         5px -5px 0px 0px rgba(0, 0, 200, 100);
//   }
// }
// .img-pro-3 {
//   img:hover {
//     // -webkit-border-radius: 10px;
//     //  -moz-border-radius: 10px;
//     //  border-radius: 10px;
//     //  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 200, 100);
//     // -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 200, 100);
//     box-shadow:         -5px 5px 0px 0px rgba(0, 0, 200, 100);
//
//   }
// }
// .img-pro-4 {
//   img:hover {
//     // -webkit-border-radius: 10px;
//     //  -moz-border-radius: 10px;
//     //  border-radius: 10px;
//     //  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 200, 100);
//     // -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 200, 100);
//     box-shadow:         5px 5px 0px 0px rgba(0, 0, 200, 100);
//   }
//
// }


.img-pro {
  margin-right: 10px;
  img {
    border-radius: 10px;
  }
}
.skills {
  color: white;
  font-size: 50px;

}


.skills-logo {
  text-align: center;
  margin-top: 30vh;

}
.text-about {

  margin-top: 23vh;
  p {
    color: white;
    text-align: center;
    // margin-left: 6vw;
  }
}

@media screen and (max-width: 1000px) {
  .index {
    .image-index {
      margin: 0 auto;
      border: 3px solid black;

    }
    .welcome-index {
      max-width: 80vw;
      margin: 0 auto;
    }
  }
  .projects {
    background-position: 311vw;
  }

}
@media screen and (min-height: 800px), screen and (min-width: 1800px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }
  .skills-logo {
    width: 20vw;
    margin-top: 35vh;

  }
  .text-about {

    margin-top: 23vh;
    margin-left: 20vw;
    p {
      position: absolute;
      color: white;
      text-align: center;


    }
  }
  .top-projects {
    margin-top: 18vh;
  }
  .pro-text {
    width: 20vw;
    margin-left: 20vw;
  }



  .contact-links {
    margin-left: 21vw;
    margin-top: 35vh;


  }
 // .projects {
 //   background-position: 31vw;
 // }


}
